<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Products list:</h1>
    <table cellpadding="5">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Cost</td>
            <td>...</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${products}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.title}"></td>
                <td th:text="${s.cost}"></td>
                <td><a th:href="@{'/products/edit/' + ${s.id}}">edit</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/products/add}">add new product</a>
    <br>
    <a th:href="@{/}">to main page</a>
</body>
</html>