<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Orders list:</h1>
    <table cellpadding="5">
        <thead>
        <tr>
            <td>Id</td>
            <td>Customer</td>
            <td>Date</td>
            <td>...</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${orders}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.customer.first_name}"></td>
                <td th:text="${s.date}"></td>
                <td><a th:href="@{'/orders/info/' + ${s.id}}">info</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/}">to main page</a>
</body>
</html>