<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Edit product</h1>
    <form th:action="@{/products/edit}" th:object="${product}" method="POST">
        <input hidden th:field="*{id}"/>
        <br>
        Title: <input th:field="*{title}"/>
        <br>
        Cost: <input th:field="*{cost}"/>
        <br>
        <input type="submit" value="Submit" />
    </form>
    <br>
    <a th:href="@{/}">to main page</a>
</body>
</html>